* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container  {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}


.green {
  color: #2f892f;
}

.red {
  color: #cb3d3d;
}

.blue {
  color: #1b65c6;
}