* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 40px;
}

img {
  width: 100%;
}

.container  {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}


.green {
  color: #3FBA84;
}


.blue {
  color: #30485E;
}