* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 40px;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 50px;
  color: #30485E;
}

p {
  padding-bottom: 15px;
}

img {
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
}

button {
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container  {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}


.green {
  color: #3FBA84;
}


.blue {
  color: #30485E;
}